body {
    text-align: center;
    background-image: linear-gradient(to bottom right, hsl(204, 100%, 75%), hsl(204, 100%, 15%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
}

.statsItem {
    width: 125px;
    height: 66px;
    background-color: lightblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#score {
    float: left;
}

#timer {
    float: right;
}

#questionSection {
    margin-top: 15vw;
}

#questionLabel {
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
    width: 100px;
    text-align: right;
    margin: auto;
    padding-right: 20px;
}

#answerLabel {
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 20px;
}

#submit,
#doneButton,
.numberRange {
    margin-top: 35px;
    background-color: lightcoral;
    border: none;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.numberRange {
    background-color: hsl(60, 67%, 84%);
    margin-left: 10px;
}

#oneTen {
    background-color: lightgreen;
}

#doneButton {
    background-color: lightgreen;
    display: none;
    margin: auto;
    margin-top: 50px;
}