body {
    text-align: center;
    background-image: linear-gradient(to bottom right, hsl(204, 100%, 75%), hsl(204, 100%, 15%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {
    font-size: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 5vw;
}

#startGame, #startPractice {
    width: fit-content;
    height: 60px;
    border-radius: 20px;
    border: 3px solid darkgreen;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgreen;
    cursor: pointer;
}

.resultsItem {
    margin: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

#list {
    margin-top: 5vw;
}